<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkaiaNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-zephyr.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/js/knockout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/animations.js"></script>
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary border-bottom box-shadow mb-3" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="" asp-area="" asp-action="">SkaiaNet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-4">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item m-0 ">
                            <a class="nav-link text-white" asp-controller="" asp-area="" asp-action="">
                                Carteira
                            </a>
                        </li>
                        <li class="nav-item m-0">
                            <a class="nav-link text-white" asp-controller="Pessoas" asp-area="" asp-action="">
                                Pessoas
                            </a>
                        </li>
                        <li class="nav-item m-0">
                            <a class="nav-link text-white" asp-controller="Movimentacoes" asp-area="" asp-action="">
                                Consultar movimentações
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="main" class="container" role="main">
        @RenderBody()
    </main>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            <strong>&copy; 2023 - SkaiaNet</strong><br/>Por JP Wolschick
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="~/Views/Shared/Modals/ErrorModal.cshtml" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
