
<div class="modal fade" id="error-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-bind="text: ModalError"></h5>
            </div>
            <div class="modal-body">
                <p data-bind="text: ModalErrorMessage"></p>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    OK.
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/viewmodels/ErrorModalVM.js"></script>

